<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    

   <!-- Simple Bean Definition -->
   <bean id="helloWorld" abstract="true">
   		<property name="message1" value="Hello World-1!"/>
   		<property name="message2" value="Hello World-2"/>
   		<property name="message3" value="Hello World-3"/>
   </bean>

	<bean id="helloExtension" class="com.springexamples.HelloExtension" parent="helloWorld">
		<property name="message1" value="Hello World-1 Extension"/>
		<property name="message3" value="Hello World-3 Extension"/>
	</bean>


</beans>